.App {
  text-align: center;
  
}

.home {
  background: linear-gradient(to top, black, 94%, rgb(105, 105, 105));
  height: 100% ;
  width: 100%;
  overflow-x: hidden;
  
}



.mainMedia {
  padding-top: 100px;
  align-items: flex-end;


  
}

