.App {
  text-align: center;
  
}

.home {
  background: black;
  height: 100% ;
  width: 100%;
  overflow-x: hidden;
  
}



.mainMedia {
  padding-top: 100px;
  align-items: flex-end;
  


  
}

.mediaBackground {
  background: linear-gradient(
    to top,
    rgba(0,0,0, 0), 95%,
    rgba(0,0,0, 100)
    
  ),url('./assets/moon-background.jpeg') no-repeat fixed center ;

}